
/* update.css */

body {
    font-family: Arial, sans-serif;
    background-color: pink;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-form {
    background: pink;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.signup-form h2 {
    margin-bottom: 20px;
    color: #333;
}

.signup-form label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    color: #666;
}

.signup-form input[type="text"],
.signup-form input[type="password"],
.signup-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.signup-form button {
    background:pink;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.signup-form button:hover {
    background: hotpink
    ;
}

.signup-form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.signup-form select:disabled option {
    color: #999;
}
